
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button.list{
  padding: 0;
  border-Radius: '100%';
  background-Color: 'gray';
  color: 'white';
  width: 16;
  height: 16;
  border: 0;
  font-Weight: 100;
}

.holder-tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  overflow: hidden;
  
}

.holder-tabs .tab__link {
  outline:0;
  color: #222;
  font-size: 24px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-align: center;
  background:none;
  border:none;
  cursor: pointer;
}

.holder-tabs .tab__link.is-active {
  border-bottom: 2px solid black;
}

.panel {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  background: #fff;
  border-color: rgba(0,0,0,.2);
  border-radius:20px;
  border: 1px solid #ccc;
  color: #000;
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  opacity: 1;
  transition: opacity 2s;
}

.button{
  margin: 0;
  position: absolute;
  transition: transform 2s;
}

.clicked .panel {
  opacity: 0;
  transition: opacity 2s;
  pointer-events: none;
}

.scroll::-webkit-scrollbar {
    width: 16px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #dadce0;
    background-clip: padding-box;
    border: 6px solid transparent;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.scroll {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.textOut{
  
}

.textErr{
  color:red;
}

.textWar{
  color:#e67e00;
}

.textFunction-info{
  color:blue;
}

.bold{
  font-weight: bold;
}

.tree-buttons{
  position: absolute;
  margin-left: 7px;
  width: 500px;
  
}

.tree-contant{
  overflow-y: none;
  overflow-x: none;
  width: 100%;
  margin-top: 38px;
  position: absolute;
}

.objects-menu {
  width: 238px;
  height: calc(100vh - 15px);
  min-height: 100px;
  right: 5px;
  top: 5px;
  z-index: 991;
  position: absolute;
  transition: width 2s;
}

.objects-menu.clicked {
  width: 0;
}

.objects-menu .button {
  width: 20px;
  height: 70px;
  left: -28px;
  top: calc(50% - 35px);
}

.objects-menu.clicked .button {
  transform: rotate(180deg);
}

.objects-menu .tree-content {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: 40%;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: -25px;
}

.objects-menu .datails-content {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: calc(60% - 30px);
  margin-left: 10px;
  margin-top: -15px;
}



.functions-menu {
  width: calc(100vw - 30px - 245px);
  height: 230px;
  min-width: 360px;
  bottom: 10px;
  left: 10px;
  z-index: 991;
  position: absolute;
  transition: height 2s;
}

.functions-menu.clicked {
  height: 0;
}

.functions-menu .button {
  width: 20px;
  height: 70px;
  top: -50px;
  left: calc(50% - 20px);
  transform: rotate(90deg);
}

.functions-menu.clicked .button {
  transform: rotate(-90deg);
}

.functions-menu .panel {
  display: flex; 
  flex-direction: column-reverse;
}

.functions-menu .log-content {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word; 
  position: relative;
  margin-left: 10px;
  margin-bottom: 5px;
  display: flex; 
  flex-direction: column-reverse;
}

.functions-menu .functions-content {
  position: relative;
  height: max-content;
  margin-left: 10px;
  margin-bottom: 5px;
}



.graph-text{
  font-size: 24px;
  text-align: center;
}

.graph-menu {
  width: 210px;
  height: calc(100vh - 245px - 30px);
  min-height: 100px;
  left: 5px;
  top: 5px;
  z-index: 991;
  position: absolute;
  transition: width 2s;
}

.graph-menu.clicked {
  width: 0;
}

.graph-menu .button {
  width: 20px;
  height: 70px;
  right: -28px;
  top: calc(50% - 35px);
  transform: rotate(180deg);
}

.graph-menu.clicked .button {
  transform: rotate(0deg);
}

.details{
  text-align:center;
}


.details .btn{
  margin-top: 5px;
}

.details .input-group-prepend .btn{
  margin-top: 0px;
  margin-bottom: 5px;
}

.details .form-control{
  margin-bottom: 5px;
}

.graph-menu .tab-content .content {
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 4px);
  height: calc(100% - 65px);
  position: relative;
  top: 60px;
  margin-left: 2px;
}

.graph-menu .tab-content .content.show {
    visibility: visible;
    position: absolute;
}

.graph-menu .tab-content {
  overflow: hidden;
  width: 100%;
  height: 100%;
}




.tree-image{
  outline:0;
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

.multiple .form-control{
  margin-top: 5px;
  margin-bottom: -1px;
}

.add-remove-node .form-control{
  margin-top: 5px;
  
}

.details-division{
  margin-top: 3px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: bold;

}

.graph-info-group{
  text-align:center;
  margin-left: 12px;
}

.graph-info-group .minus{
  width: 38px;
}

.graph-info-text{
  margin-top: 10px;
  margin-left: -2px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: bold;
}

.graph-info-group .form-control {
  width: 100px;
}

.graph-info-group .custom-select {
  text-transform:capitalize;
  width: 176px;
  margin-left: -7px;
}

.graph-info-group .general-btn {
  margin-top:5px;
}


.sketch-picker{
  margin-top: 5px;
  margin-left: -2px;
}

.function-form-text{
  width: 150px;
}

.function-form-text .text{
  width: 150px;
}


.function-form-option{
  position: absolute;
  margin-top: 5px;
}